.home-container {
  width: 100%;
  min-height: 500px;
  background-color: #e1e1df;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.home-container-title {
  font-size: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  width: 70%;
}

.docs-list-container {
  min-height: 400px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 70%;
}
